html {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vessel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60%;
  min-height: 9vh;
  border-radius: 39px;
  background: #164374;
  box-shadow: 23px -23px 46px #113257, -23px 23px 46px #1c5491;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.card {
  width: 250px;
  height: 250px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.card:active {
  /* transform: scale(0.95); */
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.back,
.front {
  background-color: #c1e8ff;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
